<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index of {{foldername}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-gray-200">
    <header class="m-2 lg:m-4">
        <h1 class="font-bold tracking-wide text-2xl text-gray-100">
            Index of {{foldername}}
        </h1>
    </header>

    <main class="overflow-x-auto relative shadow-md sm:rounded-lg m-2 lg:m-4">
        <table class="w-full text-sm text-left text-gray-400">
            <thead class="text-xs text-gray-200 uppercase bg-gray-800">
                <tr>
                    <th scope="col" class="py-3 px-6">Name</th>
                    <th scope="col" class="py-3 px-6">Size</th>
                    <th scope="col" class="py-3 px-6">Last Modified</th>
                </tr>
            </thead>
            <tbody>
